body {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

header {
  height: 50px;
  width: 100%;
  border: 1px solid black;
}

.left-side {
  background-color: #2e2e2e;
  width: 20%;
  height: 900px;
}

.nav-list {
  color: white;
  gap: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.nav-list {
  list-style: none;
  text-decoration: none;
  color: white;
}

.content {
  display: flex;
}

.gallery-img {
  display: flex;
  width: 100%;
  height: auto;
}

img {
  height: 200px;
  width: 100%;
}
