header {
  height: 50px;
  width: 100%;
  border: 1px solid black;
}

.left-side {
  background-color: #2e2e2e;
  width: 200px;
  height: 900px;
}

.nav-list {
  color: white;
  gap: 40px;
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
